<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.example.hello"
    version="0.5.0">
	<engines>
        <engine name="cordova" version=">=1.9.0" />
    </engines>
	<name>Hello</name>
	<asset src="www/hello.js" target="hello.js" />
	<platform name="android">
		<!-- TOOD need to support config.xml for 2.0 -->
		<config-file target="res/xml/plugins.xml" parent="/plugins">
		  <plugin name="Hello" value="com.example.plugin.Hello"/>
		</config-file>
		<source-file src="src/android/Hello.java" target-dir="src/com/example/plugin/" />			
    </platform>
    <platform name="ios">
	    <header-file src="HWPHello.h" />	
	    <source-file src="HWPHello.m" />	
		<plugins-plist key="Hello" string="HWPHello" />	
    </platform>	
    <platform name="wp7"> <!-- not supported for pluginstall (yet)-->
		<source-file src="src/wp7/Hello.cs" />
    </platform>
</plugin>