<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-mypos"
        version="0.1.0">

    <name>myPOS</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/myPOS.js" target="js/myPOS.js"/>

    <js-module src="www/myPOS.js" name="myPOS">
        <clobbers target="myPOS"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="myPOS">
                <param name="android-package" value="com.mrwinston.mypos.myPOS"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>

        <source-file src="src/android/myPOS.java" target-dir="src/com/mrwinston/mypos/"/>

        <framework src="com.android.support:support-v4:27.+"/>
        <framework src="com.android.support:appcompat-v7:27.+"/>
        <framework src="com.android.support:design:27.+"/>
        <framework src="com.android.support:cardview-v7:27.+"/>
        <framework src="com.android.support:gridlayout-v7:27.+"/>

        <framework src="src/android/mypos.gradle" custom="true" type="gradleReference"/>
        <resource-file src="src/android/src/main/java/com/slavesdk/slavesdk.aar" target="java/com/slavesdk/slavesdk.aar" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="myPOS">
                <param name="ios-package" value="myPOS"/>
            </feature>
        </config-file>

        <header-file src="src/ios/myPOS.h" target-dir="myPOSPlugin"/>
        <source-file src="src/ios/myPOS.m" target-dir="myPOSPlugin"/>
    </platform>

</plugin>